
//variables 

$blue: #71b6f9;
$indigo: #675aa9;
$purple: #5b69bc;
$pink: #ff8acc;
$red: #ff5b5b;
$orange: #fd7e14;
$yellow: #f9c851;
$green: #10c469;
$teal: #02a8b5;
$cyan: #35b8e0;
$white: #fff;
$gray: #ccc;
$mainColor: #e83674;
// @import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
.font-pica,
h1,
h2,
h3{
  font-weight: 500;
  font-family: 'IM Fell DW Pica SC', serif !important;
}


.form-components {
  button {
    text-transform: uppercase;
  }
}
h3 {
  letter-spacing: 1px;
  span{
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
  }
}

input {
  padding: 5px 10px;
  background: white;
  border: 1px solid silver;
  border-radius: 4px;
}

/* .dirty {
  border-color: #5A5;
  background: #EFE;
}

.dirty:focus {
  outline-color: #8E8;
} */

.form-control{
  &.error {
      padding-right: calc(1.5em + 0.9rem);
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-position: center right calc(0.375em + 0.1875rem);
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);  
      border-color: #ff5b5b;
  }
  
  &.error:focus {
    outline-color: #F99;
  }
}
button:disabled,
.btn-success:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  border: 1px solid #999;
}
.cursor-pointer {
  cursor: pointer;
}
.separeted {
  width: 100%;
  height: 30px;
  margin: 0 0 10px 0;
}
.no-padding{
  padding:0
}
.shadow-box {
  box-shadow: 0 11px 8px -10px $gray;
}

.theme--dark.v-text-field > .v-input__control > .v-input__slot:before,
.v-text-field.v-input--has-state > .v-input__control > .v-input__slot:before {
  border-color: transparent !important;
}
.v-text-field.v-input__control.v-input__slot:before{
  border-color: unset!important;
}
.v-label{
  left: 10px !important;
}
.v-label--active{
  color:white !important;
}
.theme--dark.v-input input{
  // background: #3d3d3d !important;
  padding-left: 10px;
}

@media (min-width: 320px){
  .is-desktop{
    display: none;
  }
  .is-mobile{
    display: block;
  }
}
@media (min-width: 1024px){
  .is-desktop{
    display: block;
  }
  .is-mobile{
    display: none;
  }
}